.all-good {
  color: #000;
  background-color: #cfc;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5em;
  font-weight: 700;
  font-family: Arial, sans-serif;
  margin: 0.5em 0 0.5em 0;
}

.list {
  margin: 1.5em 0;
  padding: 35px 2.5em 25px;
}

@media (min-width: 450px) {
  .general {
    width: 50%;
  }
}